<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if username is not none %}
        <a href="/logout">Logout</a>
        <p>Hello, {{ username }}</p>
    {% else %}
        <form method="POST" action="{{ url_for('login') }}">
            <input type="text" name="username" placeholder="Nome">
            <input type="submit" value="Login">
        </form>
    {% endif %}
    
</body>
</html>
